@use 'styles/mixins';
@use 'styles/media';
@use 'styles/colors';

.body {
  background-color: colors.$off-white;
  
  padding: 5.5rem 0 0 0;
  @include media.onLg() {
    padding: 8.8rem 0 0 0;  
  }
    
  .player {
    padding: 0;

    @include media.onLg() {
      padding: 0 4rem;
    }
  }
}
