@use 'styles/media';

.wrapper {
  color: #000;
  position: relative;
  padding: 79px 0 67px;
  background-color: white;

  @include media.onLg() {
    padding: 79px 0 61px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    background: url('../../../../../public/images/the-result/top-left-shape.svg')
        top left no-repeat,
      url('../../../../../public/images/the-result/bottom-right-shape.svg')
        bottom right no-repeat;
    background-size: 70%;

    @include media.onMd() {
      background: url('../../../../../public/images/the-result/top-left-shape.svg')
          top left no-repeat,
        url('../../../../../public/images/the-result/bottom-right-shape.svg')
          bottom right no-repeat;
    }
  }
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  padding: 0 68px;

  @include media.onXl() {
    padding: 0 160px;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  margin-bottom: 24px;

  @include media.onLg() {
    margin-left: 53px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
  }
}

.stats {
  display: flex;
  flex-direction: column;

  @include media.onLg() {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}

.stat {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include media.onMd() {
    max-width: 313px;
  }
}

.numberContainer {
  display: flex;
  justify-content: center;
}

.number {
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  line-height: 192px;
  letter-spacing: -0.01em;
  position: relative;
  margin-bottom: -20px;

  sup {
    font-size: 50%;
    position: absolute;
    top: 70px;
  }
}

.textContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  height: 100%;
}

.itemTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 12px;

  @include media.onLg() {
    font-size: 24px;
    line-height: 36px;
  }
}

.itemDescription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @include media.onMd() {
    font-size: 24px;
    line-height: 36px;
  }
}
