@use 'styles/colors';
@use 'styles/mixins';
@use 'styles/media';

.component {
  background-color: var(--gray-900);
  color: colors.$white-1000;
  height: 100%;
  display: inline-table;
  width: 100%;
  &Dark {
    background-color: black;
  }

  .contSite {
    position: relative;
    width: 100%;
    height: 100%;

    .modalLayer {
      position: absolute;
      z-index: 4;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.5);
    }
    .enableModal {
      display: block;
      @include media.onLg() {
        display: none;
      }
    }
    .disableModal {
      display: none;
    }
  }
  
}
