@use 'styles/media';
@use 'styles/colors';
@use 'styles/mixins';

.tooltip {
  background: #dbe6e1;
  padding: 12px;
  padding-bottom: 3px;
  pointer-events: none;
  border: 1px solid #12846b;
  max-width: 160px;
  @include media.onSm() {
    max-width: 238px;
  }
  @include media.onMd() {
    max-width: 391px;
  }
  &Value {
    margin-left: 16px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &Text {
    font-size: 1rem;
    line-height: 12.19px;
    color: #494643;
    text-transform: uppercase;
  }
  &Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9rem;
  }
  &ValueNumber {
    font-weight: 600;
    color: #231f20;
    font-size: 12px;
    line-height: 14.63px;
  }
}

.component {
  // background-color: blue;
  margin: auto;
  // bottom: -50px;
  left: 0;
  right: 0;
  width: 100%;
  // max-width: 533px;
  // position: absolute;
  border-radius: 12px;
  border: 1px solid #dcdcd4;
  padding: 12px 16px;
  // text-align: right;
  p {
    @include mixins.Text2XS;
    text-transform: uppercase;
    color: #494643;
  }

  .legend {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -12px;
    justify-content: center;
    &Item {
      // width: 20%;
      position: relative;
      padding-left: 16px;
      padding-right: 8px;
      margin-bottom: 12px;
      margin-right: 15px;
      // white-space: pre;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        background: var(--color);

        // background: red;
        bottom: 0;
        top: 0;
        margin: auto;
      }
    }
  }

  // .circles {
  //   width: 9px;
  //   height: 9px;
  //   position: absolute;
  //   border-radius: 50%;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  //   border: 1px solid #fff;
  // }
}
