$black: #000000;
$lighterBlack: #2f2f2f;
$white: #ffffff;

$backgroundGrey: #e5e5e5;
$grey1: #3d3d3d;
$grey2: #666666;
$grey3: #c4c5c6;
$grey4: #c4c4c4;
$grey5: #323232;
$grey6: #f8f8f8;

$orange: #fc4c21;
