$black: #14252B;
$green-light: #76C4A6;
$green-white: #AEE4C5;
$yellow-white: #E4CEA7;
$gray: #C4C4C4;
$white: #FFFFFF;
$blue-white: #B2D8E0;
$blue-light: #79B0BD;
$black2: #162930;
$green-white2: #A8D7BC;
$green: #4C735C;
$green-superwhite: #D6ECDF;
$yellow: #FFC671;
