$TiemposHeadline-Bold: 'TiemposHeadline-Bold', serif;
$TiemposHeadline-BoldItalic: 'TiemposHeadline-BoldItalic', serif;
$TiemposHeadline-Light: 'TiemposHeadline-Light', serif;
$TiemposHeadline-LightItalic: 'TiemposHeadline-LightItalic', serif;
$TiemposHeadline-Medium: 'TiemposHeadline-Medium', serif;
$TiemposHeadline-MediumItalic: 'TiemposHeadline-MediumItalic', serif;
$TiemposHeadline-Regular: 'TiemposHeadline-Regular', serif;
$TiemposHeadline-RegularItalic: 'TiemposHeadline-RegularItalic', serif;
$TiemposHeadline-Semibold: 'TiemposHeadline-Semibold', serif;
$TiemposHeadline-SemiboldItalic: 'TiemposHeadline-SemiboldItalic', serif;

$TiemposText-Bold: 'TiemposText-Bold', serif;
$TiemposText-BoldItalic: 'TiemposText-BoldItalic', serif;
$TiemposText-Medium: 'TiemposText-Medium', serif;
$TiemposText-MediumItalic: 'TiemposText-MediumItalic', serif;
$TiemposText-Regular: 'TiemposText-Regular', serif;
$TiemposText-RegularItalic: 'TiemposText-RegularItalic', serif;
$TiemposText-Semibold: 'TiemposText-Semibold', serif;
$TiemposText-SemiboldItalic: 'TiemposText-SemiboldItalic', serif;

$Akzidenzgrotesk-Bold: 'Akzidenzgrotesk-Bold', serif;
$Akzidenzgrotesk-Light: 'Akzidenzgrotesk-Light', serif;
$Akzidenzgrotesk-Medium: 'Akzidenzgrotesk-Medium', serif;
$Akzidenzgrotesk-Regular: 'Akzidenzgrotesk-Regular', serif;

$Roboto-Black: 'Roboto-Black', sans-serif;
$Roboto-BlackItalic: 'Roboto-BlackItalic', sans-serif;
$Roboto-Bold: 'Roboto-Bold', sans-serif;
$Roboto-BoldItalic: 'Roboto-BoldItalic', sans-serif;
$Roboto-Italic: 'Roboto-Italic', sans-serif;
$Roboto-Light: 'Roboto-Light', sans-serif;
$Roboto-LightItalic: 'Roboto-LightItalic', sans-serif;
$Roboto-Medium: 'Roboto-Medium', sans-serif;
$Roboto-MediumItalic: 'Roboto-MediumItalic', sans-serif;
$Roboto-Regular: 'Roboto-Regular', sans-serif;
$Roboto-Thin: 'Roboto-Thin', sans-serif;
$Roboto-ThinItalic: 'Roboto-ThinItalic', sans-serif;

$FinancierDisplay-Medium: 'FinancierDisplay-Medium', serif;
