@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/media';

.component {
  position: relative;
  color: colors.$gray-dark;
  padding: 2.4rem 0;
  border-bottom: 1px solid colors.$gray-light;

  .item {
    position: relative;
    cursor: pointer;

    .alignCenter {
      align-self: center;
    }

    .page {
      font-family: fonts.$menu;
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.438rem;
      &.active, &:hover {
        position: relative;
        color: colors.$blue;
        .arrowIcon svg path{
          stroke: colors.$blue;
        }
      }
      .link {
        color: inherit;
      }
    }
    .contArrow {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
    .arrowIcon {
      padding: 1rem 0 1rem 1rem;
      cursor: pointer;
    }
  }
}
