@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/media';

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.boxAnimation {
  background-color: colors.$gray-light;
}

.boxText {
  padding: 3.125rem 1.25rem;
  height: auto;
  
  @include media.onLg() {
    padding: 5rem;
  }
}
