$black: #000000;
$black-light: #070700;
$white: #FFFFFF;
$gray-dark: #353D47;
$gray-light: #f4f3f4; //#F1F1F1;
$gray-lighter: #FBFBFB;
$gray-lightest: #F6F6F6;
$blue: #3684FD; //#5296FF;
$blue-light: #D0E3FF;
$blue-lighter: #77ACFF;
$red: #FF4141;

$primary: $blue;
$text: $black-light;
$link: $gray-dark;
$link-inverted: $white;
$gray-background: $gray-light //#E5E5E5;