// $aktiv-grotesk: 'Aktiv Grotesk', sans-serif;
$beirut: 'BeirutTextWeb', serif;

$montserrat: 'Montserrat', sans-serif;
$sourceSansPro: 'Source Sans Pro', serif;

$text: $sourceSansPro;
$header: $beirut;
$menu: $montserrat;
