@font-face {
    font-family: TiemposHeadline-Bold;
    src: url('./TiemposHeadline-Bold.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-BoldItalic;
    src: url('./TiemposHeadline-BoldItalic.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-Light;
    src: url('./TiemposHeadline-Light.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-LightItalic;
    src: url('./TiemposHeadline-LightItalic.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-Medium;
    src: url('./TiemposHeadline-Medium.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-MediumItalic;
    src: url('./TiemposHeadline-MediumItalic.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-Regular;
    src: url('./TiemposHeadline-Regular.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-RegularItalic;
    src: url('./TiemposHeadline-RegularItalic.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-Semibold;
    src: url('./TiemposHeadline-Semibold.otf') format('opentype');
}
@font-face {
    font-family: TiemposHeadline-SemiboldItalic;
    src: url('./TiemposHeadline-SemiboldItalic.otf') format('opentype');
}


@font-face {
    font-family: TiemposText-Bold;
    src: url('./TiemposText-Bold.otf') format('opentype');
}
@font-face {
    font-family: TiemposText-BoldItalic;
    src: url('./TiemposText-BoldItalic.otf') format('opentype');
}
@font-face {
    font-family: TiemposText-Medium;
    src: url('./TiemposText-Medium.otf') format('opentype');
}
@font-face {
    font-family: TiemposText-MediumItalic;
    src: url('./TiemposText-MediumItalic.otf') format('opentype');
}
@font-face {
    font-family: TiemposText-Regular;
    src: url('./TiemposText-Regular.otf') format('opentype');
}
@font-face {
    font-family: TiemposText-RegularItalic;
    src: url('./TiemposText-RegularItalic.otf') format('opentype');
}
@font-face {
    font-family: TiemposText-Semibold;
    src: url('./TiemposText-Semibold.otf') format('opentype');
}
@font-face {
    font-family: TiemposText-SemiboldItalic;
    src: url('./TiemposText-SemiboldItalic.otf') format('opentype');
}
