@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/media';
@use 'styles/mixins';

.footer {
  background: colors.$black;
  color: colors.$white;
  padding: 64px 25px;
  position: relative;
  z-index: 5;
  overflow: hidden;

  @include media.onLg() {
    padding: 100px 25px 100px 0;
  }

  &Container {
    @include media.onLg() {
      max-width: 920px;
    }
  }

  .removeMargin {
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 50px;

      @include media.onLg() {
        margin: 0 0 100px;
      }
    }

    .link {
      @include mixins.headerLight;
      display: block;
      margin-bottom: 20px;
      color: colors.$white;
      pointer-events: none;
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 22px;

      &:hover {
        cursor: colors.$orange;
      }
    }

    .subLink {
      @include mixins.subheaderHeavy;
      display: block;
      color: colors.$white;
      margin: 15px 0 0;
      font-size: 24px;

      &:hover {
        color: colors.$orange;
      }
    }

    .policies {
      font-size: 18px;
    }
  }

  .middleMenu {
    padding-left: 0;

    @include media.onLg() {
      padding-left: 60px;
    }
  }

  .bearContainer {
    svg {
      display: inline-block;
      width: 36px;
      height: 24px;
      margin-top: 25px;

      @include media.onLg() {
        margin: 0 0 15px;
      }
    }

    span {
      display: inline-block;
      margin: 0;
      font-size: 1.2rem;
      font-family: fonts.$replicaMono;
      font-weight: 100;
      letter-spacing: 2px;
      transform: translateY(-120px);
      line-height: 16px;

      @include media.onLg() {
        max-width: 190px;
        transform: none;
      }
    }
  }

  .privacy {
    border-top: 4px solid colors.$white;
    width: 100%;
    padding: 25px 0 0;

    .privacyLink {
      @include mixins.captionHeavy;
      color: colors.$white;
      text-transform: uppercase;

      &:hover {
        color: colors.$orange;
      }
    }
  }

  .logo {
    width: 450px;
    height: 62px;
    position: relative;
    margin-bottom: 40px;

    @include media.onLg() {
      margin-bottom: 80px;
    }

    svg {
      width: 40%;
      height: 100%;
    }
  }

  .sideLinks {
    @include media.onLg() {
      border-top: 4px solid colors.$white;
      padding: 25px 0 0;
    }

    .sideLink {
      display: flex;
      align-items: center;
      @include mixins.captionHeavy;
      text-transform: uppercase;
      margin: 0 0 25px;

      &:hover {
        color: colors.$orange;
      }
    }

    svg {
      display: inline-block;
      margin: 0 10px 0 0;
    }
  }

  .socialLinks {
    display: flex;
    margin: 50px 0 0 0;

    @include media.onLg() {
      margin: 0 0 15px;
    }

    svg {
      height: 24px;
      margin: 0 12px 0 0;
    }
  }

  .address {
    display: flex;
    align-items: center;
    margin-top: 60px;

    @include media.onLg() {
      margin-top: 0;
    }

    span {
      display: inline-block;
      font-size: 1.2rem;
      font-family: fonts.$replicaMono;
      font-weight: 100;
      letter-spacing: 2px;
      text-transform: uppercase;
      max-width: 170px;
      line-height: 16px;

      @include media.onLg() {
        min-width: none;
      }

      @media only screen and (min-width: 1054px) {
        min-width: 170px;
      }
    }
  }

  .separator {
    display: none;
    align-content: flex-end;
    flex-direction: column;
    margin: 20px 0;
    justify-content: flex-end;

    @include media.onLg() {
      display: flex;
      margin-bottom: 7px;
      padding-right: 43px;
      padding-left: 19px;
    }

    .divider {
      width: 100%;
      border-bottom: 1px solid colors.$grey4;
    }
  }

  .sectionContainer {
    padding: 75px 0 !important;
    margin: auto !important;

    @include media.onLg() {
      padding: 150px 0 !important;
    }

    .leftImage {
      padding: 0 8px 0 0;
    }

    .middleImage {
      padding: 0 8px;
      transform: translateY(-105px);
    }

    .rightImage {
      padding: 0 0 0 8px;
    }
  }

  .imageCol {
    padding: 0;
  }

  .button {
    padding-top: 50px;

    .longBtn {
      display: flex;
      max-width: 100%;
      justify-content: center;

      @include media.onLg() {
        display: inline-block;
        max-width: 300px;
        justify-content: center;
      }
    }
  }

  .content {
    padding-bottom: 80px;
    .title {
      @include mixins.major;
      font-size: 48px;
      color: colors.$grey2;
      margin: 0;
      line-height: 50.4px;

      @include media.onLg() {
        max-width: 990px;
        font-size: 64px;
        line-height: 67.2px;
      }
    }

    .whiteTitle {
      @include mixins.major;
      font-size: 48px;
      color: colors.$white;
      margin: 0;
      line-height: 50.4px;

      @include media.onLg() {
        max-width: 990px;
        font-size: 64px;
        line-height: 67.2px;
      }
    }
  }
}

.noMargin {
  margin: 0;
}
