@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/media';
@use 'styles/mixins';

.sectionContainer {
  background: colors.$grey1;
  color: colors.$white;
  letter-spacing: 0.8px;
  padding: 6.4rem 2.4rem 2.4rem 2.4rem;
  @include mixins.body;

  @include media.onLg() {
    padding: 10rem 0;
  }
  .largeContainer {
    max-width: 1440px;
    margin: auto;
    @include media.onXlWithMargin() {
      padding-left: 260px;
    }
  }
}

.images {
  order: -1;
  @include media.onLg() {
    margin-top: 14px;
    margin-left: -20px;
    order: 1;
  }

  .image {
    margin-top: 40px;
    position: relative;
    margin: 0 0 60px;
    min-height: 291px;
    width: 48%;
    margin: 0;
    @include media.onLg() {
      min-height: 475px;
    }
  }
  .imagesContainer {
    max-width: 370px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: -120px;
    z-index: 2;
    position: relative;
    margin-bottom: 3.6rem;
    @include media.onLg() {
      max-width: 566px;
      margin-top: 0px;
      margin-bottom: 0rem;
      // margin-left: 50px;
      border-top: 2px solid #fff;
      padding-top: 64px;
    }
  }
  .firstImage {
    margin-top: 80px;
    @include media.onLg() {
      margin-top: 136px;
      min-height: 486px;
    }
  }

  .secondImage {
    margin-bottom: 80px;
    @include media.onLg() {
      min-height: 429px;
      margin-bottom: 136px;
    }
  }
}

.title {
  text-align: left;
  @include mixins.displayHeavy;
  margin: 0 auto 24px;
  text-transform: uppercase;
  font-size: 3.6rem;
  line-height: 37.8px;
  @include media.onLg() {
    @include mixins.errorPageText;
    font-size: 4.8rem;
    text-align: left;
    line-height: 50.4px;
    margin: 0 0 64px;
    max-width: 360px;
  }

  @include media.onXl() {
    max-width: 510px;
  }
}

.text {
  @include mixins.body;
  color: colors.$white;
  margin: auto;
  margin-bottom: 5rem;
  line-height: 27px;
  p:last-child {
    margin-bottom: 0;
  }
  @include media.onLg() {
    max-width: 320px;
    margin: 0;
    p {
      margin: 0 0 2.8rem;
    }
  }
}
