@font-face {
    font-family: Akzidenzgrotesk-Bold;
    src: url('./Akzidenzgrotesk-Bold.ttf') format('opentype');
}
@font-face {
    font-family: Akzidenzgrotesk-Light;
    src: url('./Akzidenzgrotesk-Light.ttf') format('opentype');
}
@font-face {
    font-family: Akzidenzgrotesk-Medium;
    src: url('./Akzidenzgrotesk-Medium.ttf') format('opentype');
}
@font-face {
    font-family: Akzidenzgrotesk-Regular;
    src: url('./Akzidenzgrotesk-Regular.ttf') format('opentype');
}
