@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/media';
@use 'styles/mixins';

.sectionContainer {
  position: relative;
  background: colors.$grey1;
  @include mixins.displayHeavy;
  color: colors.$white;
  overflow: hidden;
  padding: 0.1rem 1.7rem 6.4rem 1.7rem;
  @include media.onLg() {
    padding: 6.4rem 1.7rem 16.6rem 0;
  }

  .quoteMobile {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 6.4rem;
    }
  }

  .quote {
    position: relative;
    padding-top: 4.9rem;
    &:not(:first-of-type) {
      padding-top: 4.8rem;
    }
    .iconQuotesCont, .imageCont {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
    }
    .iconQuotes{
      position: relative;
      height: 4.885rem;
      width: 7rem;
      //float: right;
    }
    .image {
      position: relative;
      height: 23.391rem;
      width: 100%;
      //max-width: 33rem;
    }

    .sentence {
      font-family: fonts.$replica;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 2.52rem;
      color: colors.$white;
      margin-top: 2.5rem;
      margin-bottom: 6.1rem;
    }

    .name {
      font-size: 1.8rem;
      font-weight: 900;
      line-height: 2.2rem;
      margin-bottom: 2.4rem;
    }
    .role {
      font-family: fonts.$replica;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.89rem;
      margin-bottom: 0.6rem;
    }
    .location {
      font-family: fonts.$replicaMono;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.6rem;
      color: colors.$grey3;
    }

    .bottomLine {
      margin-top: 3.6rem;
      border: 1px solid colors.$orange;
    }
  }
  
}
