//-
  doctype html
  html
    head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
    body
      block content

html
  head
    title=titulo
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css', rel='stylesheet')
  body
    block content
