@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/media';

.component {
  position: relative;
  overflow: hidden;
  padding-bottom: 8.1rem;
  @include media.onLg() {
    padding-bottom: 20rem;
  }

  .highlighted {
    font-family: fonts.$header;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.36rem;
    @include media.onLg() {
      font-size: 4.8rem;
      font-weight: 300;
      line-height: 6.72rem;
    }
  }
  .text {
    font-family: fonts.$text;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    @include media.onLg() {
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.8rem;
    }
  }
  
  .imageCont {
    position: relative;
    width: 12rem;
    height: 12rem;
    margin: auto;
    .image {
      object-fit: cover;
      min-width: 100%;
      max-width: 100%;
    }
  }
}
.noPad {
  padding: 0 !important;
}
