@use 'styles/media';
@use 'styles/colors';
@use 'styles/mixins';

.component {
  @include mixins.SectionPadding;
  position: relative;
  .content {
    max-width: 628px;
    margin: auto;
  }
  .text {
    @include mixins.Text;
    color: var(--text);
    &:first-of-type {
      margin-top: 29.3rem;
      @include media.onLg() {
        margin-top: 7.2rem;
      }
    }
  }
  .title {
    @include mixins.Title;
    color: var(--text);
  }

  .letterMDesktop {
    display: none;
    @include media.onLg() {
      display: initial;
      position: absolute;
      top: 36rem;
      right: 0;
    }
  }

  .letterMMobile {
    position: absolute;
    top: 6rem;
    right: 0;
    @include media.onLg() {
      display: none;
    }
  }
}
