@font-face {
  font-family: 'ReplicaMonoLLWeb-Regular';
  src: url('ReplicaMonoLLWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ReplicaMonoLLWeb-Regular';
  src: url('ReplicaMonoLLWeb-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'ReplicaMonoLLSub-RegularSubset';
  src: url('ReplicaMonoLLSub-RegularSubset.woff2') format('woff2');
}

@font-face {
  font-family: 'ReplicaMonoLLSub-RegularSubset';
  src: url('ReplicaMonoLLSub-RegularSubset.woff') format('woff');
}

@font-face {
  font-family: 'ReplicaLLWeb-Regular';
  src: url('ReplicaLLWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ReplicaLLWeb-Regular';
  src: url('ReplicaLLWeb-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'ReplicaLLWeb-Heavy';
  src: url('ReplicaLLWeb-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'ReplicaLLWeb-Heavy';
  src: url('ReplicaLLWeb-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'ReplicaLLSub-RegularSubset';
  src: url('ReplicaLLSub-RegularSubset.woff2') format('woff2');
}

@font-face {
  font-family: 'ReplicaLLSub-RegularSubset';
  src: url('ReplicaLLSub-RegularSubset.woff') format('woff');
}

@font-face {
  font-family: 'ReplicaLLSub-HeavySubset';
  src: url('ReplicaLLSub-HeavySubset.woff2') format('woff2');
}

@font-face {
  font-family: 'ReplicaLLSub-HeavySubset';
  src: url('ReplicaLLSub-HeavySubset.woff') format('woff');
}
