@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/media';

.mainHero {
  background-color: colors.$gray-light;
  color: colors.$gray-dark;
   
  .contentWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    
    @include media.onLg() {
      min-height: 31.25rem;
    }
  }

  .header {
    margin: 3.125rem 0 1.25rem;
    text-align: center;

    @include media.onLg() {
      margin-bottom: 2.5rem;
    }
  }

  .description {
    color:colors.$black;
    margin-bottom: 7.25rem;      
    padding: 0 1.25rem;
    text-align: center;
  }
}
