@use 'styles/colors';
@use 'styles/mixins';
@use 'styles/media';
@use 'styles/fonts';

.component {
  display: flex;
  flex-direction: column;
  background-color: colors.$white;
  height: 100%;
  min-height: 100vh;
  
  @include media.onLg() {
    margin: 0;
  }
}

.main {
  flex-grow: 1;
}
