@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/media';

.mainHero {
  background-color: colors.$gray-light;
  color: colors.$gray-dark;
  position: relative;
  overflow: hidden;
  height: 90vh;

  @include media.onMd() {
    height: 120vw;
  }

  @include media.onLg() {
    height: 53.75rem;
  }
}

.header {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.375rem;
  margin: 1.5625rem 0;
  z-index: 101;

  @include media.onLg() {
    font-size: 4rem;
    font-weight: 300;
    line-height: 5.275rem;
    margin: 1.8125rem 0;
  }

  @include media.onXl() {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 5.375rem;
    margin: 1.8125rem 0;
  }
}

.description {
  font-size: 1rem;
  letter-spacing: 0.03em;
  letter-spacing: 0.03rem;
  line-height: 1.375rem;
  margin-bottom: 1.875rem;
  z-index: 101;

  @include media.onLg() {
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-bottom: 4.375rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3.125rem;
  padding: 0 1.25rem;
  z-index: 101;

  @include media.onLg() {
    height: 100%;
    padding: 0 1.875rem 6.75rem;
    margin: 0;
    position: absolute; 
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 75%;
  }
  @include media.onXl() {
    max-width: 70%;
  }
}

.animation {
  top: 50%;

  @include media.onSm() {
    top: 35%;
  }

  @include media.onMd() {
    top: 20vw;
  }

  @include media.onLg() {
    position: relative;
    left: 25%;
    top: 0;
  }

  @include media.onXl() {
    left: 20%;
    top: 0;
  }

}

.backgroundAnimation {
  height: 80%;
  position: absolute;
  top: 0;
  width: 100%;

  @include media.onMd() {
    height: 100%;
  }

  @include media.onLg() {
    height: 100%;
  }
}
