@use 'styles/colors';
@use 'styles/mixins';
@use 'styles/media';

.component {
  position: relative;
  background-color: transparent;

  .divider {
    position: relative;
    height: 1.2rem;
    background: linear-gradient(
      90deg, rgba(64, 64, 64, 0) -6.07%,
      #323232 101.01%
    );
    opacity: 0.5;
  }
}

.showOnMobile {
  display: block;
  @include media.onLg() {
    display: none;
  }
}
.showOnDesktop {
  display: none;
  @include media.onLg() {
    display: block;
  }
}
